.writeLetter {
  position: relative;

  .letter__template--button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    text-align: center;
    opacity: 1;
    color: #515a6e;
    background-color: rgba(255, 255, 255, 0.2);
    transition: opacity 0.2s linear, bottom 0.3s linear;

    &::before {
      position: absolute;
      left: 49%;
      top: 20px;
      .arrow-top(0.08rem, #000,0.01rem);
    }

    &.animation {
      bottom: 320px;
      opacity: 0;
    }
  }
}

.mail__content--background {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: scroll;
}

.mail__underline--layout {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mail__underline--item {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid red;
}

.mail__textarea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  line-height: 60px;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  background-color: transparent;
}
