.user {
  &__header--title {
    text-align: left;
    background-color: #595e4a;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    height: 240px;
    line-height: 240px;
    padding-left: 40px;
  }
  &__info--pannel {
    position: relative;
    top: -20px;
    overflow: hidden;
    background-color: #e9e6d8;
    border-radius: 28px 28px 0 0;
    padding: 44px 40px 120px;
    box-sizing: border-box;
    color: #595e4a;

    &-brief {
      display: flex;
      justify-content: space-between;

      .avatar-wrap {
        display: flex;
        color: #fff;
        font-size: 22px;
      }

      .avatar-upload {
        position: relative;
        width: 100px;
        height: 100px;
        margin-right: 18px;

        .am-image-picker-list {
          margin-bottom: 0px;
          padding: 0px;
        }
        .am-flexbox .am-flexbox-item {
          width: 100%;
          margin-right: 0px;
          &:not(:first-child) {
            display: none;
          }
        }
        .am-flexbox.am-flexbox-align-center {
          height: 100px;
          margin-bottom: 0px;
        }
        .am-image-picker-list .am-image-picker-upload-btn {
          background-color: transparent;
          border: none;
          &::before {
            display: none;
          }
          &::after {
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            background-color: transparent;
            z-index: -1;
          }
        }
      }

      .avatar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
      }
      .name {
        font-size: 36px;
        color: #595e4a;
        font-weight: bold;
        display: inline-block;
        .ellipsisText(220px);
      }
      .sex {
        width: 34px;
        height: 34px;
        margin: 1px 10px 0 0;
      }
      .city {
        border-radius: 15px;
        background-color: #595e4a;
        padding: 2px 10px;
        box-sizing: border-box;
      }
      .total {
        font-size: 24px;
        margin: 16px 0 12px;
      }
      .nickname {
        font-size: 30px;
        font-weight: bold;
        .ellipsisText(680px);
      }
    }

    &-list {
      margin-top: 115px;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 44px;
        margin-bottom: 44px;
        position: relative;
        &::after {
          .bottom-line(#595e4a);
        }
        .label {
          font-size: 30px;
          font-weight: bold;
          .subTitle {
            font-size: 24px;
            margin-left: 15px;
            &.address {
              margin-left: 28px;
              display: inline-block;
              vertical-align: bottom;
              .ellipsisText(380px);
            }
          }
        }
        .icon {
          width: 34px;
          height: 36px;
          margin-right: 22px;
          margin-top: 3px;
        }
        .value {
          &::after {
            position: relative;
            top: -3px;
            .arrow-right(0.1rem,#595e4a,0.02rem);
          }
          .extra {
            font-size: 24px;
            font-weight: bold;
            margin-right: 16px;
          }
        }
      }
    }
    .logout-button {
      display: block;
      margin: 0 auto;
      width: 180px;
      height: 50px;
      line-height: 40px;
      border: 1px solid #595e4a;
      background-color: inherit;
      border-radius: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #595e4a;
      padding: 0;
    }
  }
}
